*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", Roboto, sans-serif;
}

h3 {
  font-size: 18px;
  line-height: 24.51px;
}

p {
  font-size: 14px;
}

.paper {
  width: 100%;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

// Link
a {
  color: #3167ba;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;

  &:hover {
    color: #2557a1;
    text-decoration: underline;
  }

  &:active {
    color: #bd2b7b;
  }

  &:focus {
    text-decoration: underline;
    outline: none;
  }
}
// Link

.logo {
  display: block;
  background-image: url("/icons/logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 150.51px;
  height: 47.88px;
}

// Button
.button {
  font-family: "Open Sans", Roboto, sans-serif;
  font-weight: 700;
  padding: 9px 24px;
  background-color: #ffce0c;
  color: #333;
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 0 0 transparent;
  transition: box-shadow 0.3s, background-color 0.2s;
  cursor: pointer;
  outline: none;
  position: relative;
  z-index: 1;
}

.button::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 0 0 #000;
  transition: box-shadow 0.3s;
  z-index: 2;
  border-radius: 4px;
}

.button:hover {
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.12);
  background-color: #ffd73b;
}

.button:focus {
  box-shadow: 0px 1px 10px #ffd73b;
  background-color: #ffce0c;
}

.button:focus::before {
  box-shadow: inset 0 0 0 1px #fffbea;
}

.button:active {
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.12);
  outline: none;
  background-color: #ffc40c;
}

.button:disabled {
  opacity: 0.5 !important;
  box-shadow: none !important;
  outline: none !important;
  background-color: #ffce0c !important;
  cursor: default;
}
// Button

// Inputs
.input {
  font-family: "Open Sans", Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #6879bb;
  max-width: 328px;
  width: 100%;
  height: 36px;
  border: 1px solid #d6dce9;
  border-radius: 4px;
  outline: none;
  padding: 0 12px;
  background-color: #fff;
  transition: border-color 0.3s, color 0.3s;
  position: relative;
  z-index: 1;
}

::placeholder {
  color: #ccc;
}

.input:hover,
.input:focus {
  color: #415fd5;
  border-color: #415fd5;
}

.input:disabled,
.input:disabled:hover {
  color: rgba(51, 51, 51, 0.5);
  background-color: #f5f5f5;
  border-color: #d6dce9;
}

.input.error,
.input.error:disabled {
  border-color: #ee4141;
}

.input + .error-message {
  color: #ee4141;
  font-family: "Open Sans";
  font-size: 12px;
  line-height: 24px;
  display: none;
}

.input.error + .error-message {
  display: block;
}

.password-input {
  display: inline-block;
  max-width: 328px;
  width: 100%;
  position: relative;

  &__eye {
    background-image: url("/icons/eye.svg");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 12px;
    top: 12px;
    width: 12px;
    height: 12px;
    z-index: 2;
    cursor: pointer;
    user-select: none;

    &.closed {
      background-image: url("/icons/eye-closed.svg");
    }
  }
}
// Inputs

// Alerts
$alertHeight: 96px;

.alert {
  position: relative;
  width: 100%;
  height: $alertHeight;
  background-color: #f5f5f5;
  font-size: 14px;
  text-align: center;
  line-height: $alertHeight;
  opacity: 0;
  transition: opacity 0.2s;

  &::before {
    content: "";
    width: 48px;
    height: 48px;
    position: absolute;
    top: 24px;
    left: 48px;
    background-image: url("/icons/alert.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
}

.alert.alert-display {
  opacity: 1;
}

.alert.alert-danger {
  background-color: #ffe9db;
  &::before {
    background-image: url("/icons/alert-danger.svg");
  }
}
// Alerts

// App Bar
.app-bar {
  display: flex;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 4px 12px rgba(104, 121, 187, 0.15);
  padding: 0 28px;
  height: 60px;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1;

  .drawer-button,
  &__nav-link {
    margin-right: 12px;
  }

  &__nav-link {
    display: inline-block;
    color: #6879bb;
    font-weight: 700;
  }
}
// App Bar

.drawer-button {
  background: none;
  background-image: url("/icons/drawer-button.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border-radius: 50%;
  transition: box-shadow 0.2s, background-color 0.2s;

  &:hover {
    box-shadow: 0 0 15px 2px #eee;
    background-color: #eee;
  }

  &:active {
    transform: translateY(1px);
    box-shadow: 0 0 15px 2px #ddd;
    background-color: #ddd;
  }

  &_dark {
    background-image: url("/icons/drawer-button-dark.svg");

    &:hover {
      box-shadow: 0 0 15px 2px rgba($color: #aaa, $alpha: 0.5);
      background-color: rgba($color: #aaa, $alpha: 0.5);
    }

    &:active {
      transform: translateY(1px);
      box-shadow: 0 0 15px 2px #666;
      background-color: #666;
    }
  }
}

.backdrop {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #000;
  opacity: 0;
  z-index: 4;
  display: none;
  transition: opacity 0.3s;

  &_active {
    opacity: 0.5;
  }
}

// Drawer
.app-drawer {
  position: absolute;
  left: -224px + -24px;
  top: 0;
  height: 100vh;
  width: 224px;
  background: #404064;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.3);
  z-index: 5;
  transition: 0.3s;

  &__head,
  &__navigation li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 24px;
    height: 60px;
    width: 100%;
  }

  &__head {
    background: #535374;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
  }

  &__logo {
    background-image: url("/icons/logo-drawer.svg");
    width: 66.32px;
    height: 24px;
    margin-left: 16px;
  }

  &__navigation {
    ul {
      list-style: none;
    }

    li {
      position: relative;
      padding-left: 60px;

      &::before {
        content: "";
        position: absolute;
        left: 24px;
        top: 18px;
        background-position: center;
        background-repeat: no-repeat;
        width: 24px;
        height: 24px;
      }
    }

    a {
      color: #fff;
      font-weight: 700;
    }
  }

  &__profile-link::before {
    background-image: url("/icons/drawer-profile.svg");
  }

  &__processes-link::before {
    background-image: url("/icons/drawer-processes.svg");
  }

  &_opened {
    left: 0;
  }
}
// Drawer

// Process Card
.process-card {
  padding-right: 24px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 12px;

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 24px;
  }

  &__body {
    display: grid;
    grid-template-areas:
      "metric_quantity metric_execution metric_employees date-grid"
      "metric_quantity metric_active-time metric_scenarios date-grid";
    padding: 36px 24px 24px;
    column-gap: 39px;
    row-gap: 24px;
    align-items: center;
    max-width: 80%;
    min-width: 1039px;
  }

  &__metric {
    padding-left: 36px;
    position: relative;
    &::before {
      content: "";
      width: 24px;
      height: 24px;
      position: absolute;
      left: 0;
      top: 0;
      background-position: center;
      background-repeat: no-repeat;
      opacity: 0.5;
    }

    &_quantity {
      grid-area: metric_quantity;
      margin-right: 73px;
      &::before {
        background-image: url("/icons/loop.svg");
        top: 5px;
      }
    }

    &_execution {
      grid-area: metric_execution;
      &::before {
        background-image: url("/icons/clock.svg");
      }
    }

    &_active-time {
      grid-area: metric_active-time;
      &::before {
        background-image: url("/icons/clock-running.svg");
      }
    }

    &_employees {
      grid-area: metric_employees;
      &::before {
        background-image: url("/icons/employees.svg");
      }
    }

    &_scenarios {
      grid-area: metric_scenarios;
      &::before {
        background-image: url("/icons/scenarios.svg");
      }
    }
  }

  &__date-grid {
    align-self: flex-start;
    grid-area: date-grid;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    row-gap: 12px;
    max-width: 187px;
  }

  &__title {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #6879bb;
  }

  &__link {
    opacity: 0.5;
    color: #6879bb;
    font-size: 12px;
    font-weight: 700;
    position: relative;
    line-height: 1;
    transition: color 0.2s;

    &::after {
      content: "";
      position: absolute;
      right: -24px;
      top: 50%;
      transform: translateY(-50%);
      background-image: url("/icons/arrow-right.svg");
      background-position: center;
      background-repeat: no-repeat;
      width: 12px;
      height: 12px;
    }

    &:active {
      &::after {
        background-image: url("/icons/arrow-right-active.svg");
      }
    }
  }

  &__hr {
    border: none;
    border-bottom: 1px solid #d6dce9;
  }

  &__heading_1 {
    font-weight: 700;
    font-size: 26px;
    line-height: 35px;
    color: #535374;
  }

  &__heading_3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #535374;
  }

  &__heading_5 {
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    color: #999;
  }

  &__date {
    line-height: 16px;
    color: #333;
  }

  @media (max-width: 1100px) {
    &__body {
      max-width: 100%;
      min-width: 100%;
      grid-template-areas:
        "metric_quantity date-grid"
        "metric_execution metric_employees"
        "metric_active-time metric_scenarios";
    }

    &__date-grid {
      margin-bottom: 20px;
    }
  }

  @media (max-width: 650px) {
    &__title {
      font-size: 19px;
      line-height: 1.3;
    }

    &__body {
      grid-template-areas:
        "metric_quantity"
        "metric_execution"
        "metric_employees"
        "metric_active-time"
        "metric_scenarios"
        "date-grid";

      justify-content: center;
    }

    &__metric_quantity {
      justify-self: flex-start;
    }
  }
}
// Process Card

// Scrollbar
* {
  scrollbar-color: #8b99c9 #afb9d7;
  scrollbar-width: auto;

  &::-webkit-scrollbar {
    background-color: #afb9d7;
    width: 12px;
    border-radius: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #8b99c9;
    border-radius: 20px;
  }
}
// Scrollbar

// Pages
[class$="-page"] {
  min-height: 100vh;
}

.registration-page,
.sign-up-page {
  background: linear-gradient(229.68deg, #6879bb 7.06%, #9300bb 95.23%);

  &__container {
    max-width: 424px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }

  .logo {
    margin: 32px 0;
  }

  .paper {
    flex-grow: 1;
    padding: 0;

    &__container {
      max-width: 328px;
      margin: auto;
      padding-top: 18px;
    }
  }

  &__form {
    input,
    .password-input {
      margin: 6px 0;
    }

    .password-input input {
      margin: 0;
    }

    button[type="submit"] {
      width: 100%;
      margin: 18px 0;
    }
  }

  .alert {
    margin-top: 24px;
  }
}

.sign-up-page {
  h3 {
    margin: 20px 0;
  }
}

.dashboard-page,
.profile-page {
  background-color: #ebf2fb;
  max-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

main {
  padding: 22px;
  padding-top: 60px + 22px;
  overflow-y: auto;
  height: 100%;
  flex-grow: 1;
}

.profile-page {
  h1 {
    font-size: 26px;
    line-height: 35px;
    color: #404064;
  }

  &__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
  }

  .paper {
    padding: 24px;
  }

  &__form-control {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    max-width: 696px;

    label {
      font-weight: normal;
      font-size: 14px;
      line-height: 36px;
      color: #999999;
      cursor: pointer;
    }
  }
}
// Pages
